body{
    background-color: teal;
}

h1{
    font-size: 30px;
    color: #54E216;

}

h2{
    font-size: 20px;
    color: red
}

.big{
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    color: navy;        
}